---
import Layout from '@/layouts/Layout.astro';

const title = 'PAGE2';
const description = 'PAGE2 DESCRIPTION';
---

<Layout title={title} description={description}>
  <div class="container" data-page="page2">
    <h1 class="heading">Page2</h1>
  </div>
</Layout>

<style lang="scss">
  .container {
    display: grid;
    place-items: center;
    height: 100%;
  }

  .heading {
    font-size: 24px;
  }
</style>
